<!DOCTYPE html>
<html lang="en">

<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a th:href="@{/index}">Stisla</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a th:href="@{/index}">St</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="dropdown" th:classappend="${nav == 'dashboard'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'dashboard-index0'? 'active' : ''}">
                        <a class="nav-link" th:href="@{/general}">General Dashboard</a>
                    </li>
                    <li th:classappend="${subnav == 'dashboard-index'? 'active' : ''}">
                        <a class="nav-link" th:href="@{/index}">Ecommerce Dashboard</a>
                    </li>
                </ul>
            </li>
            <li class="menu-header">Starter</li>
            <li class="dropdown" th:classappend="${nav == 'layout'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Layout</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'layout-default'? 'active' : ''}"><a class="nav-link" th:href="@{/layout-default}">Default Layout</a></li>
                    <li th:classappend="${subnav == 'layout-transparent'? 'active' : ''}"><a class="nav-link" th:href="@{/layout-transparent}">Transparent Sidebar</a></li>
                    <li th:classappend="${subnav == 'layout-top-navigation'? 'active' : ''}"><a class="nav-link" th:href="@{/layout-top-navigation}">Top Navigation</a></li>
                </ul>
            </li>
            <li th:classappend="${nav == 'blank'? 'active' : ''}"><a class="nav-link" th:href="@{/blank}"><i class="far fa-square"></i> <span>Blank Page</span></a></li>
            <li class="dropdown" th:classappend="${nav == 'bootstrap'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Bootstrap</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'bootstrap-alert'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-alert}">Alert</a></li>
                    <li th:classappend="${subnav == 'bootstrap-badge'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-badge}">Badge</a></li>
                    <li th:classappend="${subnav == 'bootstrap-breadcrumb'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-breadcrumb}">Breadcrumb</a></li>
                    <li th:classappend="${subnav == 'bootstrap-buttons'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-buttons}">Buttons</a></li>
                    <li th:classappend="${subnav == 'bootstrap-card'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-card}">Card</a></li>
                    <li th:classappend="${subnav == 'bootstrap-carousel'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-carousel}">Carousel</a></li>
                    <li th:classappend="${subnav == 'bootstrap-collapse'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-collapse}">Collapse</a></li>
                    <li th:classappend="${subnav == 'bootstrap-dropdown'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-dropdown}">Dropdown</a></li>
                    <li th:classappend="${subnav == 'bootstrap-form'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-form}">Form</a></li>
                    <li th:classappend="${subnav == 'bootstrap-list-group'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-list-group}">List Group</a></li>
                    <li th:classappend="${subnav == 'bootstrap-media-object'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-media-object}">Media Object</a></li>
                    <li th:classappend="${subnav == 'bootstrap-modal'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-modal}">Modal</a></li>
                    <li th:classappend="${subnav == 'bootstrap-nav'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-nav}">Nav</a></li>
                    <li th:classappend="${subnav == 'bootstrap-navbar'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-navbar}">Navbar</a></li>
                    <li th:classappend="${subnav == 'bootstrap-pagination'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-pagination}">Pagination</a></li>
                    <li th:classappend="${subnav == 'bootstrap-popover'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-popover}">Popover</a></li>
                    <li th:classappend="${subnav == 'bootstrap-progress'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-progress}">Progress</a></li>
                    <li th:classappend="${subnav == 'bootstrap-table'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-table}">Table</a></li>
                    <li th:classappend="${subnav == 'bootstrap-tooltip'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-tooltip}">Tooltip</a></li>
                    <li th:classappend="${subnav == 'bootstrap-typography'? 'active' : ''}"><a class="nav-link" th:href="@{/bootstrap-typography}">Typography</a></li>
                </ul>
            </li>
            <li class="menu-header">Stisla</li>
            <li class="dropdown" th:classappend="${nav == 'components'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Components</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'components-article'? 'active' : ''}"><a class="nav-link" th:href="@{/components-article}">Article</a></li>
                    <li th:classappend="${subnav == 'components-avatar'? 'active' : ''}"><a class="nav-link beep beep-sidebar" th:href="@{/components-avatar}">Avatar</a></li>
                    <li th:classappend="${subnav == 'components-chat-box'? 'active' : ''}"><a class="nav-link" th:href="@{/components-chat-box}">Chat Box</a></li>
                    <li th:classappend="${subnav == 'components-empty-state'? 'active' : ''}"><a class="nav-link beep beep-sidebar" th:href="@{/components-empty-state}">Empty State</a></li>
                    <li th:classappend="${subnav == 'components-gallery'? 'active' : ''}"><a class="nav-link" th:href="@{/components-gallery}">Gallery</a></li>
                    <li th:classappend="${subnav == 'components-hero'? 'active' : ''}"><a class="nav-link beep beep-sidebar" th:href="@{/components-hero}">Hero</a></li>
                    <li th:classappend="${subnav == 'components-multiple-upload'? 'active' : ''}"><a class="nav-link" th:href="@{/components-multiple-upload}">Multiple Upload</a></li>
                    <li th:classappend="${subnav == 'components-pricing'? 'active' : ''}"><a class="nav-link beep beep-sidebar" th:href="@{/components-pricing}">Pricing</a></li>
                    <li th:classappend="${subnav == 'components-statistic'? 'active' : ''}"><a class="nav-link" th:href="@{/components-statistic}">Statistic</a></li>
                    <li th:classappend="${subnav == 'components-tab'? 'active' : ''}"><a class="nav-link" th:href="@{/components-tab}">Tab</a></li>
                    <li th:classappend="${subnav == 'components-table'? 'active' : ''}"><a class="nav-link" th:href="@{/components-table}">Table</a></li>
                    <li th:classappend="${subnav == 'components-user'? 'active' : ''}"><a class="nav-link" th:href="@{/components-user}">User</a></li>
                    <li th:classappend="${subnav == 'components-wizard'? 'active' : ''}"><a class="nav-link beep beep-sidebar" th:href="@{/components-wizard}">Wizard</a></li>
                </ul>
            </li>
            <li class="dropdown" th:classappend="${nav == 'forms'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Forms</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'forms-advanced-form'? 'active' : ''}"><a class="nav-link" th:href="@{/forms-advanced-form}">Advanced Form</a></li>
                    <li th:classappend="${subnav == 'forms-editor'? 'active' : ''}"><a class="nav-link" th:href="@{/forms-editor}">Editor</a></li>
                    <li th:classappend="${subnav == 'forms-validation'? 'active' : ''}"><a class="nav-link" th:href="@{/forms-validation}">Validation</a></li>
                </ul>
            </li>
            <li class="dropdown" th:classappend="${nav == 'gmaps'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Google Maps</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'gmaps-advanced-route'? 'active' : ''}"><a th:href="@{/gmaps-advanced-route}">Advanced Route</a></li>
                    <li th:classappend="${subnav == 'gmaps-draggable-marker'? 'active' : ''}"><a th:href="@{/gmaps-draggable-marker}">Draggable Marker</a></li>
                    <li th:classappend="${subnav == 'gmaps-geocoding'? 'active' : ''}"><a th:href="@{/gmaps-geocoding}">Geocoding</a></li>
                    <li th:classappend="${subnav == 'gmaps-geolocation'? 'active' : ''}"><a th:href="@{/gmaps-geolocation}">Geolocation</a></li>
                    <li th:classappend="${subnav == 'gmaps-marker'? 'active' : ''}"><a th:href="@{/gmaps-marker}">Marker</a></li>
                    <li th:classappend="${subnav == 'gmaps-multiple-marker'? 'active' : ''}"><a th:href="@{/gmaps-multiple-marker}">Multiple Marker</a></li>
                    <li th:classappend="${subnav == 'gmaps-route'? 'active' : ''}"><a th:href="@{/gmaps-route}">Route</a></li>
                    <li th:classappend="${subnav == 'gmaps-simple'? 'active' : ''}"><a th:href="@{/gmaps-simple}">Simple</a></li>
                </ul>
            </li>
            <li class="dropdown" th:classappend="${nav == 'modules'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Modules</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'modules-calendar'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-calendar}">Calendar</a></li>
                    <li th:classappend="${subnav == 'modules-chart-js'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-chart-js}">ChartJS</a></li>
                    <li th:classappend="${subnav == 'modules-datatables'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-datatables}">DataTables</a></li>
                    <li th:classappend="${subnav == 'modules-flag'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-flag}">Flag</a></li>
                    <li th:classappend="${subnav == 'modules-font-awesome'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-font-awesome}">Font Awesome</a></li>
                    <li th:classappend="${subnav == 'modules-ion-icons'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-ion-icons}">Ion Icons</a></li>
                    <li th:classappend="${subnav == 'modules-owl-carousel'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-owl-carousel}">Owl Carousel</a></li>
                    <li th:classappend="${subnav == 'modules-sparkline'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-sparkline}">Sparkline</a></li>
                    <li th:classappend="${subnav == 'modules-sweet-alert'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-sweet-alert}">Sweet Alert</a></li>
                    <li th:classappend="${subnav == 'modules-toastr'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-toastr}">Toastr</a></li>
                    <li th:classappend="${subnav == 'modules-vector-map'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-vector-map}">Vector Map</a></li>
                    <li th:classappend="${subnav == 'modules-weather-icon'? 'active' : ''}"><a class="nav-link" th:href="@{/modules-weather-icon}">Weather Icon</a></li>
                </ul>
            </li>
            <li class="menu-header">Pages</li>
            <li class="dropdown" th:classappend="${nav == 'auth'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Auth</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'auth-forgot-password'? 'active' : ''}"><a th:href="@{/auth-forgot-password}">Forgot Password</a></li>
                    <li th:classappend="${subnav == 'auth-login'? 'active' : ''}"><a th:href="@{/auth-login}">Login</a></li>
                    <li th:classappend="${subnav == 'auth-register'? 'active' : ''}"><a th:href="@{/auth-register}">Register</a></li>
                    <li th:classappend="${subnav == 'auth-reset-password'? 'active' : ''}"><a th:href="@{/auth-reset-password}">Reset Password</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-exclamation"></i> <span>Errors</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" th:href="@{/errors-503}">503</a></li>
                    <li><a class="nav-link" th:href="@{/errors-403}">403</a></li>
                    <li><a class="nav-link" th:href="@{/errors-404}">404</a></li>
                    <li><a class="nav-link" th:href="@{/errors-500}">500</a></li>
                </ul>
            </li>
            <li class="dropdown" th:classappend="${nav == 'features'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Features</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'features-activities'? 'active' : ''}"><a class="nav-link" th:href="@{/features-activities}">Activities</a></li>
                    <li th:classappend="${subnav == 'features-post-create'? 'active' : ''}"><a class="nav-link" th:href="@{/features-post-create}">Post Create</a></li>
                    <li th:classappend="${subnav == 'features-posts'? 'active' : ''}"><a class="nav-link" th:href="@{/features-posts}">Posts</a></li>
                    <li th:classappend="${subnav == 'features-profile'? 'active' : ''}"><a class="nav-link" th:href="@{/features-profile}">Profile</a></li>
                    <li th:classappend="${subnav == 'features-settings'? 'active' : ''}"><a class="nav-link" th:href="@{/features-settings}">Settings</a></li>
                    <li th:classappend="${subnav == 'features-setting-detail'? 'active' : ''}"><a class="nav-link" th:href="@{/features-setting-detail}">Setting Detail</a></li>
                    <li th:classappend="${subnav == 'features-tickets'? 'active' : ''}"><a class="nav-link" th:href="@{/features-tickets}">Tickets</a></li>
                </ul>
            </li>
            <li class="dropdown" th:classappend="${nav == 'utilities'? 'active' : ''}">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i> <span>Utilities</span></a>
                <ul class="dropdown-menu">
                    <li th:classappend="${subnav == 'utilities-contact'? 'active' : ''}"><a th:href="@{/utilities-contact}">Contact</a></li>
                    <li th:classappend="${subnav == 'utilities-invoice'? 'active' : ''}"><a class="nav-link" th:href="@{/utilities-invoice}">Invoice</a></li>
                    <li th:classappend="${subnav == 'utilities-subscribe'? 'active' : ''}"><a th:href="@{/utilities-subscribe}">Subscribe</a></li>
                </ul>
            </li>
            <li th:classappend="${nav == 'credits'? 'active' : ''}"><a class="nav-link" th:href="@{/credits}"><i class="fas fa-pencil-ruler"></i> <span>Credits</span></a>
            </li>
        </ul>

        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="https://getstisla.com/docs" target="_blank" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Documentation
            </a>
        </div>
    </aside>
</div>